*{
    background-color: antiquewhite;
}

h1{
    font-size: 7rem;
    text-align: center;
}

.score{ 
    display: flex;
    justify-content: space-around;
    font-size: 5rem;
}

.player-score, .computer-score{
    text-align: center;
}

.choices {
    display: flex;
    justify-content: space-evenly;
    font-size: 5rem;
    margin-top: 120px;
}

.choice {
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: aqua;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid black;
}